.card{
    width: 350px;
    /* background-color: palegreen; */
    background-color: #F9FAFB;
    padding: 1.5em;
    display:flex; 
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    border-radius: 8px;

    margin: 10px;
    margin-top: 40px;
}

.card h1{
    font-size: 18px;
    line-height: 28px;
    color: #111827;
    margin-top: 1em;
    margin-bottom: 5px;
}

.card p{
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
    margin-top: 8px;
}

.hover{
    box-shadow: 0px 0px 7px 0px rgb(116, 116, 116);
}

.iconContainer{
    width: 48px;
    height: 48px;
    border-radius: 6px;
    /* background-color: #353535; */
    /* color:#F9FAFB; */

    display:flex; 
    justify-content: center;
    align-items: center;

    font-size: 1.5em;

    margin-top: -48px;
}

.cardLink{
    display:flex; 
    justify-content: center;
    gap: 0.35em;

    margin-top: 1em;
    align-self: flex-end;

    text-decoration: none;
    /* color:#565656; */
    font-size: 16px;
    font-style:italic;
    font-weight: 500;
}

.linkIcon{
    margin-top: 0.09em;
}
